<h1>New Hellaserver</h1>

<% form_for(@hellaserver) do |form| %>
  <%= render :partial => 'form', :locals => {:form => form} %>
  <p><%= form.submit 'Create' %></p>
<% end %>

<p><%= link_to 'Back', hellaservers_path %></p>
